<div class="container text-center mt-5">
  <h1>ようこそキャットケアコミュニティへ!</h1>
  <p class="lead">
    トップページです
  </p>
  <p>
    <%= link_to '新規会員登録(無料)', new_member_registration_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
