<div class="container text-center mt-5">
  <h1>ようこそキャットケアコミュニティへ!</h1>
  <p class="lead">
    猫との素晴らしいコンパニオンシップを楽しんでいる皆さん、そして新しい冒険を始める皆さん、CatCareコミュニティへようこそ。
    私たちはここで、あなたとあなたの愛する猫のために、最高の健康と幸福を追求するお手伝いをします。猫が元気で幸せに暮らすために必要な情報、アドバイス、そして経験を共有しましょう。
  </p>
  <p>
    <%= link_to '新規会員登録(無料)', new_member_registration_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
