<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>本当に退会しますか？</h1>
    <p>
      退会すると、会員登録情報が削除されます<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
    <%= link_to "退会しない", mypage_path, :class => "btn btn-outline-primary ms-3" %>
    <%= link_to "退会する",  withdraw_member_path, method: :patch, :class => "btn btn-outline-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
  </div>
</div>