<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 position-relative">
      <div class="row justify-content-center">
        <%= image_tag "top.png", class: "col-sm-10" %>
       </div>
    </div>
  </div>
</div>
