<div class="container">
  <div class="row">
    <div class="col-sm-12 position-relative">
      <%= image_tag "top.jpg" %>
      <div class="text-light position-absolute" style="top: 209px; left: 108px;">
        <h1>ようこそ、キャットケアコミュニティへ！</h1>
        <h2 class="text-center mt-5 mb-5">こちらは管理者のトップページです！</h2>
        <div class="mx-auto text-center">
        <p class="text my-3">
          このサイトは猫ちゃんの健康の管理、ブログの投稿、
          猫好きの集まるコミュニティなど、<br>
          猫好きの方々ががつながれるコミュニティサイトになります<br>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
