<div class="card">
   <%= image_tag community.image, style: 'width:100%; height:200px;' %>
    <div class="card-body">
      <h5 class="card-title"><%= community.title %></h5>
      <p class="card-text"><%= community.body %></p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
     ルール
    </div>
    <div class="card-body">
      <blockquote class="blockquote">
        <p><%= community.rule %></p>
    </div>
  </div>