<div class="container mt-3">
  <%= render 'header', community: @community %>
      <div class="card mt-5" style="width: 18rem;">
        <div class="card-header">
          トピック一覧
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <% @topics.each do |topic| %>
              <%= link_to topic.title, topic_path(topic) %>
              <%= image_tag topic.image, size: "50x50 rounded-circle" %>
           <% end %>
          </li>
        </ul>

      </div>
      <%= link_to new_topic_path, class: "btn btn-outline-info mt-3" do %>
          新しいトピックを作成する
        <% end %>
  </div>






